/* ----------------Some Root Variables-------------*/

:root{
    --color-primary: #7380ec;
    --color-danger:  #ff7782;
    --color-primary: #41f1b6;
    --color-primary: #ffbb55;
    --color-primary: #fff;
    --color-primary: #7d8da1;
    --color-primary: #dce1eb;
    --color-primary: #7380ec;
    --color-primary: #7380ec;
    --color-primary: #7380ec;
    --color-primary: #7380ec;
    --color-primary: #7380ec;

}